{% extends "index.html" %}

{% block title %}
Controle de Pedidos Admin
{% endblock %}

{% block navbar %}
<nav>
    <ul class="menu">
        <li><a href="{{ url_for('products') }}" class="link-nav">Voltar</a></li>
    </ul>
</nav>
{% endblock %}

{% block body %}
<div class="bloco-arquivo">
<h1>Controle de Pedidos</h1>
<table>
    <tr>
        <th>ID do Pedido</th>
        <th>Usuário</th>
        <th>Status</th>
        <th>Ações</th>
    </tr>
    {% for order in orders %}
    <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.user.username }}</td>  <!-- Exiba o ID ou informações do usuário -->
        <td>{{ order.status }}</td>
        <td>
            <form action="{{ url_for('update_order_status', order_id=order.id) }}" method="POST">
                <select name="status">
                    <option value="pedido realizado">Pedido Realizado</option>
                    <option value="pedido entregue">Pedido Entregue</option>
                    <option value="pedido cancelado">Pedido Cancelado</option>
                </select>
                <input type="submit" value="Atualizar Status" class="botao-arquivo">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}
