<div class="corpo-banners">
    <div class="conteudo1">
                <h2>JORNADA DO CAFÉ
            <br>
            De onde vem o café?
        </h2>
        <h4>Cinturão do café</h4>
        <p>Antes de chegar à sua xícara, o seu café faz uma jornada composta por várias etapas. Todas essas etapas têm impacto sobre os grãos, incluindo a região e o clima onde são cultivados.</p>
        <p>Quase todo o café do mundo cresce no 'Cinturão do Café'. O Cinturão do Café circunda a Terra, entre os Trópicos de Câncer e Capricórnio. Existem mais de 70 países produtores de café em todo o mundo, e a Cafeteria Gourmet compra café a mais de 30 deles. As culturas, paisagens e métodos de cultivo variam de acordo com o país e todos contribuem para os diferentes sabores do café.</p>
        <p>O cinturão do café é dividido em três regiões principais de cultivo: América Latina, África e Ásia / Pacífico. Nós fornecemos, torramos e misturamos com responsabilidade os cafés de cada uma dessas três regiões para lhe oferecer a cafés exclusivos.</p>
        <p>Assim como o chá ou o vinho, o café obtém grande parte de seu sabor de onde vem. Cada uma dessas regiões de cultivo tem diferentes condições de cultivo e tradições que afetam o sabor geral do café.</p>
    </div>
    <br>
    <div class="conteudo2">
        <h2>TUDO SOBRE TORRA</h2>
        <p>O café chega à Cafeteria Gourmet como café verde em grão . Antes de ser preparado, deve ser torrado.</p>
        <p>Muitas variáveis ​​afetam o sabor do café: onde o café é cultivado, que tipo de café é cultivado, como é o café cultivado, como a fruta é removida do grão, como o café é misturado e torrado e como o café é preparado.</p>
        <p>É através do nosso processo de torra que o aroma, a acidez, o corpo - e, é claro, o sabor - único do café são desenvolvidos.</p>    
        <h4>OS MESTRES TORREFACTORES</h4>
        <p>Torrar café é parte arte, parte uma ciência. A arte da torrefação permite que nossos torrefactores criem sabor, enquanto a ciência ajuda a garantir a consistência. Os mestres torrefactores da Starbucks® transformam os grãos de café verdes em cafés saborosos e aromáticos. A Cafeteria Gourmet torra café há quase 50 anos e nos esforçamos continuamente para aprender e inovar.</p>
        <p>Anos de foco e experiência levaram aos níveis de torra Cafeteria Gourmet. Cada grão de café requer um equilíbrio único de temperatura e tempo para atingir seu pico individual de aroma, acidez, corpo e sabor. Os nossos cafés são classificados em três perfis de torra - Cafeteria Gourmet Torra Clara, Torra Média e Torra Escura - para que possa encontrar facilmente o sabor e a intensidade perfeitos para si.</p>
    </div>
</div>