{% extends "index.html" %}

{% block titulo %}
Editar Itens do Pedido
{% endblock %}

{% block body %}
<a href="{{ url_for('my_orders') }}" class="link-nav">Meus Pedidos</a>

<form method="POST" class="popup">
    <h1>Editar Itens do Pedido #{{ order.id }}</h1>
    <table>
        <tr>
            <th>ID do Produto</th>
            <th>Nome do Produto</th>
            <th>Quantidade</th>
        </tr>
        {% for item in order.products %}
        <tr>
            <td>{{ item.product_id }}</td>  <!-- Use product_id -->
            <td>{{ item.product.name }}</td>
            <td>
                <input type="number" name="quantity_{{ item.product_id }}" value="{{ item.quantity }}" min="1" required class="input">
            </td>
        </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Atualizar Itens" class="botao-arquivo">
</form>
{% endblock %}
