<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>
        {% block title %}
        Cafeteria Gourmet
        {% endblock %}
    </title>
</head>
<body>
    <div class="corpo-body">
    {% block navbar %}
    <nav>
        <ul class="menu">
            <li><a href="{{ url_for('login') }}" class="link-nav">Login</a></li>
            <li><a href="{{ url_for('register') }}" class="link-nav">Registrar</a></li>
        </ul>
    </nav>
    {% endblock %}
    
    <div style="text-align: center;">
        <img src="/static/images/logo.jpg" alt="Logo da cafeteria gourmet" class="logo-cafereria">
        <br>
        {% if current_user.is_authenticated %}    
        <h1>Olá, {{ current_user.username }}!</h1>
        {% endif %}
        
        {% if pagina == 'index' %}
        <h1>Bem-vindo à Cafeteria Gourmet</h1>
        {% endif %}
    </div>   

    {% block body %}
    {% endblock %}

    <br>

        {% if pagina == 'index' %}
            {% include "conteudo.html" %}
        {% endif %}
        <div class="footer">
            Newsletter | Receitas e Dicas | Promoções | FAQ | Redes Sociais | Contato | Termos de Uso | Politica de Privacidade
        </div>
        <br>
    </div>
</body>
</html>