{% extends "index.html" %}
{% block title %}
Login
{% endblock %}

{% block navbar %}
<nav>
    <ul class="menu">
        <li><a href ="{{ url_for('index') }}" class="link-nav">Home</a></li>
        <li><a href ="{{ url_for('register') }}" class="link-nav">Registrar</a></li>
    </ul>
</nav>
{% endblock %}

{% block body %}
<br>
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert {{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
<br>
<form method="POST" class="popup">
    <h1>Login</h1>
    <input type="text" name="username" placeholder="Usuário" required class="input">
    <input type="password" name="password" placeholder="Senha" required class="input">
    <button type="submit" class="botao-login">Entrar</button>
</form>
{% endblock %}
