{% extends "index.html" %}

{% block title %}
Produtos
{% endblock %}

{% block navbar %}
<nav>
    <ul class="menu">
        <li><a href="{{ url_for('my_orders') }}" class="link-nav">Meus Pedidos</a></li>
        {% if current_user.role == 'admin' %}
            <li><li><a href="{{ url_for('admin_orders') }}" class="link-nav">Controle de Pedidos Admin</a></li>
        {% endif %}
        <li><a href="{{ url_for('logout') }}" class="link-nav">Sair</a></li>
    </ul>
</nav>
{% endblock %}

{% block body %}
{% if current_user.role == 'admin' %}
    {% include 'products_admin.html' %}
{% endif %}
<br>

<div class="bloco-arquivo">
<form action="{{ url_for('order') }}" method="POST">
    <table>
    <tr>
        <th> Produto </th>
        <th> Valor </th>
        <th> Descrição </th>
        <th> Quantidade </th>
    </tr>
    {% for product in products %}
    <tr>
        <td> <input type="checkbox" name="product_ids" value="{{ product.id }}"> <strong>{{ product.name }}</strong></td>
        <td> R$ {{ product.price }} </td>
        <td> {{ product.description }} </td>
        <td> <input type="number" name="quantities" value="1" min="1" required style="width: 60px; margin-left: 10px;" class="input2"> </td>
        {% endfor %} 
    </tr>
    </table>
    <button type="submit" class="botao-arquivo">Realizar Pedido</button>
</form>
</div>
{% endblock %}


{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-info" role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
{% endif %}
{% endwith %}
