{% extends "index.html" %}
{% block title %}
Registrar
{% endblock %}

{% block body %}
<a href ="{{ url_for('index') }}" class="link-nav">Home</a>
|
<a href ="{{ url_for('login') }}" class="link-nav">Login</a>
<form method="POST" class="popup"> 
    <h1>Registrar</h1>       
    <input type="text" name="username" placeholder="Usuário" required class="input">
    <input type="password" name="password" placeholder="Senha" required class="input">
    <button type="submit" class="botao-login">Registrar</button>
</form>
{% endblock %}
