{% extends "index.html" %}
{% block title %}
Registrar
{% endblock %}

{% block navbar %}
<nav>
    <ul class="menu">
        <li><a href ="{{ url_for('index') }}" class="link-nav">Home</a></li>
        <li><a href ="{{ url_for('login') }}" class="link-nav">Login</a></li>
    </ul>
</nav>
{% endblock %}

{% block body %}
<form method="POST" class="popup"> 
    <h1>Registrar</h1>       
    <input type="text" name="username" placeholder="Usuário" required class="input">
    <input type="password" name="password" placeholder="Senha" required class="input">
    <input type="'email" name="email" placeholder="E-mail" required class="input">
    <input type="text" name="adress" placeholder="Endereço" required class="input">
    <input type="text" name="number" placeholder="Número" required class="input">
    <input type="text" name="complement" placeholder="Complemento" required class="input">
    <input type="text" name="district" placeholder="Bairro" required class="input">
    <input type="text" name="city" placeholder="Cidade" required class="input">
    <input type="text" name="state" placeholder="Estado" required class="input">
    <input type="text" name="cep" placeholder="CEP" required class="input">
    <input type="text" name="phone" placeholder="Telefone" required class="input">
    <input type="date" name="bhirth" placeholder="Data de Nascimento" required class="input">
    <button type="submit" class="botao-login">Registrar</button>
</form>
{% endblock %}
